################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.sln
*.json
*.csproj
*.targets
*.props
*.cache
/practise1/obj/Debug/netcoreapp2.1/practise1.AssemblyInfo.cs
/practise1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/practise1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/practise1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/practise1/v15/Server/sqlite3
/.vs/practise1/v15
/.vs/csharppractise/v15/.suo
/.vs
*.pdb
/practise1/obj/Debug/netcoreapp2.1/practise1.csproj.FileListAbsolute.txt
*.dll
